set mouse
set morespace
#set nohelp
set quickblank
set smooth
set tabstospaces
set tabsize "2"
set autoindent
#set boldtext
set const
#set whitespace "  "
set multibuffer

# syntax files
include "~/.nano/apacheconf.nanorc"
include "~/.nano/asm.nanorc"
include "~/.nano/c.nanorc"
include "~/.nano/cmake.nanorc"
include "~/.nano/conf.nanorc"
include "~/.nano/css.nanorc"
include "~/.nano/cython.nanorc"
include "~/.nano/fortran.nanorc"
include "~/.nano/gentoo.nanorc"
include "~/.nano/groff.nanorc"
include "~/.nano/groovy.nanorc"
include "~/.nano/haml.nanorc"
include "~/.nano/html.nanorc"
include "~/.nano/java.nanorc"
include "~/.nano/js.nanorc"
include "~/.nano/lua.nanorc"
include "~/.nano/man.nanorc"
include "~/.nano/mutt.nanorc"
include "~/.nano/nanorc.nanorc"
include "~/.nano/patch.nanorc"
include "~/.nano/perl.nanorc"
include "~/.nano/php.nanorc"
# commented because the regex syntax doesn't work on mac
#include "~/.nano/pkgbuild.nanorc"
include "~/.nano/pov.nanorc"
include "~/.nano/python.nanorc"
include "~/.nano/reST.nanorc"
include "~/.nano/ruby.nanorc"
include "~/.nano/sh.nanorc"
include "~/.nano/tex.nanorc"
include "~/.nano/sql.nanorc"
include "~/.nano/xml.nanorc"
include "~/.nano/zshrc.nanorc"
